// Use the components directory to constuct the meat of your CSS.
// Categorize your styles here based on element in the file name.

// Form definitions, including fields, headings and utility features

/* General: Forms
--------------------------------------------------------------*/
form {
	@include placeholder{
		font-style: normal;
		@include font-size(16px);
		color: $medium-gray;
		
		@include media(medium-up) {
			@include font-size(14px);
		}
	}
}
	
$labelBottomMargin: 1px;

select, input, textarea, button {
	font: 99% $form-font-family;
	margin: 0;
}
select, input, textarea {
	color: #666;
	@include transition(all, 0.15s, ease-in-out);
}
input, select {
	vertical-align: middle;
}
textarea {
	overflow: auto;
}

input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	@include rem-size(width, 42px);
	@include rem-size(height, 24px);
	vertical-align: middle;
  }

  .switch + span {
	@include font-size(14px);
	display: inline-block;
	vertical-align: middle;
	@include rem-size(margin-left, 10px);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The toggle */
  .toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $base-white;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	@include rem-size(border-radius, 34px);
	box-shadow: -1px -1px $brand-gray90;
	border: 1px solid $brand-gray75;
   }
  
  .toggle:before {
	position: absolute;
	content: "";
	@include rem-size(height, 17px);
	@include rem-size(width, 17px);
	@include rem-size(left, 3px);
	@include rem-size(bottom, 3px);
	background-color: $brand-blue;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	border-radius: 50%;
  }
  
  input:checked + .toggle {
	background-color: $brand-blue;
	border-color: $brand-blue;
  }

  input:checked + .toggle:before {
	background-color: $base-white;
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
  }



select {
	border: 1px solid $formfield-border-color;
	height: 38px;
	line-height: 40px;
	vertical-align: middle;
	width: 100%;
	padding: 3px 0;
	@include font-size(16px);
	
	@include media(medium-up) {
		@include font-size(14px);
	}
	
	.ie8 & , .ie9 & {
		height: 34px;
		line-height: 38px;
	}
	&:focus {
		outline: 1px solid #999;
		@include box-shadow(0px, 0px, 1px, #ccc);
	}
}

button {
	width: auto;
	overflow: visible;
}

.required-label {
	color: $base-black;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
	border: 1px solid $formfield-border-color;
	color: #666;
	@include font-size(16px);
	@include rem-size(line-height, $field-line-height);
	padding: $field-vertical-padding 12px;
	vertical-align: middle;
	width: 100%;
	@include rounded(3px);
	
	@include media(medium-up) {
		@include font-size(14px);
	}
	
	&:focus {
		outline: none;
		@include box-shadow(0px, 0px, 4px, $primary-color);
	}
	.disabled {
		@include box-shadow(0px, 0px, 0px, rgba(255, 255, 255, 0));
		background-color: transparent;
		border: none;
		padding: 0 0 0.2em;
	}
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
	cursor: pointer;
}
.disabled label {
	cursor: default !important;
	color:#ccc
}
.form-label,
label,
.legend {
	display: block;
	@include font-size(14px);
	margin-bottom: $labelBottomMargin;
}
label {
	position: relative;
}

input + input, select + select { margin-left: 4px;}

.field-note {
	color: $info-color;
	@include font-size(11px);
	font-weight: normal;
	line-height: 1.25;
	p {
		@include rem-size(margin-top, 17px);
		@include rem-size(margin-bottom, 1px);
	}
	a {
		color: #999;
		&:hover, &:focus, &:active {
			color: $link-color;
		}
	}
}

p.field-note {
	clear: left;
	margin: 0;
}

.delimiter {
	color: #999;
	display: inline-block;
	font-size: 15px;
	margin: 0 4px;
	vertical-align: middle;
}

/* form structure */

.field-group {
	@include grid-row();
	position:relative;
	clear:both;
	@include rem-size(margin-bottom, 12px);
}

.form-actions {
	margin-bottom: 27px;
}

.field {
	@include grid-column(6);
	position:relative;
}
.field:first-child{
	padding-left:0;
}
.field:last-child{
	padding-right:0;
}

.field.checkbox {
	width:auto
}
.radio, .checkbox {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	label {
		cursor: pointer;
		margin-bottom: 0;
		@include rem-size(min-height, 20px);
		@include rem-size(padding-left, 20px);
		font-weight:normal;
	}
	&.disabled label {
		font-color: lighten($base-black, 30);
	}
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	@include rem-size(margin-left, -20px);
	@include rem-size(margin-top, 6px);
	position: absolute;
}
.radio + .radio, .checkbox + .checkbox {
	margin-top: -5px;
}

.delimiter {
	display: inline-block;
	font-size: 15px;
	margin: 0 4px;
	vertical-align: middle;
}

/* small disclaimer text below form */
.form-disclaimer {
	color: lighten(#000, 46.7);
	@include font-size(11px);
	@include rem-size(line-height, 17px);
	@include rem-size(margin-top, 20px);
	@include rem-size(margin-bottom, 20px);
	a {
		text-decoration:underline;
		color: lighten(#000, 46.7);
	}
}

/* for single field form where button is aligned with field */
.inline-form {
	width:100%;
	position: relative;
	input[type="text"] {
		float:left;
		// width will need to be set on a case-by-case basis
		width:auto;
	}
	.button {
		float:left;
	}
	&.rounded {
		input[type="text"] {
			width:100%;
			@include rounded(20px);
		}
		.button {
			position: absolute;
			right: -1px;
			top:0;
			@include rounded(0 20px 20px 0);
		}
		/* use the general sibling selector because ATG will add hidden input fields in the form */
		label ~ input + .button {
			/* this is the line height of the label plus it's bottom margin */
			top: 24px + $labelBottomMargin;
		}
	}
}


/* inline errors */
label.error {
	color: $alert-color !important;
}
input.error,  select.error, textarea.error {
	color: $alert-color;
	border-color: $alert-color;
	&:focus {
		@include box-shadow(0px, 0px, 4px, $alert-color);
		border-color: darken($alert-color, 10);
	}
}

.field-error-text {
	@include font-size(11px);
	@include rem-size(line-height, 24px);
	color: $alert-color;
	.inline-form & {
		clear: left;
	}
	.icon {
		@include align-icon-middle();
		@include rem-size(margin-right, 5px);
		@include font-size(16px);
	}
}

@include placeholder{
	font-style: italic;
	color: $medium-gray;
	font-weight: $light;
}

/* Mixin for custom radio/checkboxes using icon font */
@mixin input-as-image($type) {
	input[type="radio"],
	input[type="checkbox"] {
        width: 26px;
        height: 26px;
        position: absolute;
        overflow: hidden;
        margin-left: 5px;
        padding: 0;
        border: 0;
        outline: 0;
        opacity: 0;
        z-index: 2;  /*used to avoid Accessibility tool warnings */

         & + input[type="hidden"] + label, /* for usage of dsp html */
		 & + .error + input[type="hidden"] + label, /* for usage of dsp html */
         & + label, /* for usage of standard html */
		 & + .error + label /* for usage of standard html */ {
             &:before{
                @extend .icon;

				@if $type == radio {
					@extend .icon-radio-unchecked;
				}
				@if $type == checkbox {
					@extend .icon-checkbox-empty;
				}

                @include font-size(26px);
                position: absolute;
                top: 0px;
                left: -35px;
                width: 26px;
                height: 26px;
            }
        }

        &:checked + input[type="hidden"] + label, /* for usage of dsp html */
        &:checked + .error + input[type="hidden"] + label, /* for usage of dsp html */
		&:checked + label, /* for usage of standard html */
		&:checked + .error + label /* for usage of standard html */ {
              &:before{
                @extend .icon;

				@if $type == radio {
					@extend .icon-radio-checked;
				}
				@if $type == checkbox {
					@extend .icon-checkbox-checked;
				}

                @include font-size(26px);
                top: 0px;
                left: -35px;
                width: 26px;
                height: 26px;
            }
        }
    }
}

/* special treatment for radio */
.custom-radio {
    position: relative;
	@include input-as-image(radio);

	input[type="radio"] {
		&:focus+.error+label,
		&:focus+label {
			outline: auto;

			/* WebKit gets its native focus styles. */
			@media (-webkit-min-device-pixel-ratio:0) {
			    outline-color: -webkit-focus-ring-color;
			    outline-style: auto;
			}
		}
	}

    label {
        @include rem-size(margin-left, 35px);
        cursor: pointer;
        span {
            font-family: $base-font-family;
            @include font-size(12px);
        }
    }
}

/* special treatment for checkbox */
.custom-checkbox {
    position: relative;
	@include input-as-image(checkbox);

	input[type="checkbox"] {
		&:focus+.error+label,
		&:focus+label {
			outline: auto;

			/* WebKit gets its native focus styles. */
			@media (-webkit-min-device-pixel-ratio:0) {
			    outline-color: -webkit-focus-ring-color;
			    outline-style: auto;
			}
		}
	}

    label {
        @include rem-size(margin-left, 35px);
        cursor: pointer;
        span {
            font-family: $base-font-family;
            @include font-size(12px);
        }
    }
}

.ie9 form .custom-checkbox input, .ie9 form .custom-radio input,
.ie10 form .custom-checkbox input, .ie10 form .custom-radio input {
    margin-top: 0;
}

/* special treatment for select */
.custom-select {
	position: relative;
	
	select {
		height: 40px;
		background-color: $base-white;
		@include rounded(3px);
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		 -o-appearance: none;
		appearance: none;
		@include rem-size(line-height, 16px);
		@include rem-size(padding, 3px 12px);
		&::-ms-expand {
			display: none; 
		}
	}
	
	.icon:not(.icon-error) {
		 color: $medium-blue;
		 pointer-events: none;
		 position: absolute;
		 right: 10px;
		 top: 15px;
		 @include font-size(13px);
	}
}

/* styles for forms with floating labels */
.floating-label-form {
	.hidden-label {
		display: none;
	}
	select {
		@include rem-size(line-height, 20px);
	}
	input[type="text"] {
		@include rem-size(padding-top, 12px);
		@include rem-size(padding-bottom, 12px);
		@include rem-size(line-height, 18px);
	}
	.move-label~label {
		border: 0 none;
		clip: auto;
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: auto;
		top: 8px;
		left: 13px;
		@include font-size(16px);
		transition: all .2s ease-out;
		
		&.error {
			color: $alert-color;
		}
	}
	label {
		color: $medium-gray;
	}
	.filled .move-label~label, .active .move-label~label {
		top: 0px;
		@include font-size(11px);
		@include rem-size(line-height, 18px);
		
		&.hidden-label {
			display: block;
		}
	}
	.filled, .active {
		input[type="text"], input[type="tel"], input[type="email"] {
			@include rem-size(padding-top, 18px);
			@include rem-size(padding-bottom, 6px);
		}
		
		textarea {
			@include rem-size(padding-top, 20px);
			@include rem-size(padding-bottom, 6px);
		}
		
		select {
			@include rem-size(padding-top, 14px);
		}
	}
	.custom-select {
		&.active .icon-arrow-down:before {
			content: "\e905";
		}
		
		select {
			height: 44px;
		}
	}
}