@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
/******************** Resets *******************/

section.cust-support input, section.cust-support textarea, section.cust-support select {
    font-size: inherit;
}

section.cust-support [type="text"], section.cust-support [type="password"], section.cust-support [type="email"], section.cust-support [type="number"], section.cust-support [type="tel"], section.cust-support [type="url"], section.cust-support [type="search"], section.cust-support select {
    height: auto;
}

section.cust-support label, section.cust-support label.error {
    width: auto;
}

section.cust-support label, section.cust-support label.error, section.cust-support .psuedo-label {
    display: inline;
    font-size: 1em;
    margin: 0;
    vertical-align: baseline;
}

/******************** /Resets *******************/

section.cust-support .hero {
    text-align: center;
    color: #0d1f4b;
    margin-bottom: 30px
}

section.cust-support .hero .copy-overlay {
    position: absolute;
    right: 0;
    width: 43.673469%;
    padding: 0 1.25em;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,.6);
}

section.cust-support .hero h1 {
    font-size: 2.05em;
    margin: 0;
}

section.cust-support .hero hr {
    padding-top: 23px;
    border: none;
    border-bottom: 2px solid #0d1f4b;
    margin: 0 34px 23px 34px;
}

section.cust-support .hero p {
    font-size: 1.1em;
    font-weight: bold;
}

@media only screen and (min-width: 568px) and (max-width: 800px) {
    body.mobileSite section.cust-support .hero {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 567px) {
    body.mobileSite section.cust-support .hero {
        margin-bottom: 20px;
    }
    body.mobileSite section.cust-support .hero h1 {
        position: absolute;
        width: 100%;
        padding: .9em 10px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    body.mobileSite section.cust-support .hero p {
        font-size: 1.4em;
        font-weight: normal;
        margin: 20px 10px;
        text-align: left;
        color: gray;
    }
}

section.cust-support h2 {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

section.cust-support form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

section.cust-support form input, section.cust-support form select {
    outline: none !important;
}

section.cust-support form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

section.cust-support form input[type="checkbox"] {
    position: absolute;
    width: 27px;
    height: 26px;
    opacity: 0;
}

section.cust-support .swatches {
    display: flex;
    flex-basis: 480px;
    max-width: 550px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

@media only screen and (max-width: 820px) {
    body.mobileSite section.cust-support .swatches {
        flex-basis: 310px;
        max-width: 350px;
    }
    body.mobileSite section.cust-support .client-data {
        flex-basis: 340px;
        max-width: 410px;
    }
    body.mobileSite section.cust-support .swatch {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 650px) {
    body.mobileSite section.cust-support .swatches {
        max-width: 550px;
        margin: 0 auto 30px;
    }
    body.mobileSite section.cust-support .client-data {
        max-width: none;
    }
}

@media only screen and (max-width: 480px) {
    body.mobileSite section.cust-support .swatches {
        flex-basis: 310px;
        max-width: 350px;
    }
}

section.cust-support .swatch {
    flex-basis: 150px;
    margin: 20px 0 30px;
}

section.cust-support .swatch-title {
    margin-bottom: 10px;
    position: relative;
}

section.cust-support .swatch h3 {
    font-size: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin: 0;
    line-height: 1.1;
}

section.cust-support .swatch img {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}

section.cust-support .swatch-thumbnail {
    position: relative;
}

section.cust-support .swatch-thumbnail:after {
    content: "";
    background-image: url(https://www.la-z-boy.com/Images/npc/free-swatches/magnify.png);
    background-size: 100%;
    position: absolute;
    bottom: 3px;
    width: 14px;
    height: 14px;
    right: 3px;
    cursor: pointer;
}

section.cust-support .swatch label {
    font-size: 17px;
    letter-spacing: .025em;
}

section.cust-support form input[type="checkbox"]~label {
    padding-left: 34px;
    position: relative;
    line-height: 25px;
}

section.cust-support form input[type="checkbox"]~label:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    border: solid 1px #979797;
    left: 0;
}

section.cust-support form input[type="checkbox"]:checked~label:before {
    content: "x";
    font-size: 36px;
    text-align: center;
    line-height: 16px;
    color: #9B9B9B;
}

section.cust-support .client-data {
    flex-basis: 340px;
    max-width: 375px;
    flex-grow: 1;
}

section.cust-support .client-data>div {
    width: 310px;
    margin: 20px auto;
}

section.cust-support .client-data .text {
    position: relative;
    border: solid 1px #979797;
    height: 60px;
}

section.cust-support .client-data .text label {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9B9B9B;
    transition: top .2s, font-size .2s;
}

section.cust-support .client-data .checkbox {
    font-size: 15px;
    width: 310px;
    margin: 10px auto;
}

section.cust-support .client-data .submit input {
    width: 100%;
    height: 60px;
    display: block;
    background-color: #9B9B9B;
    border: 1px solid #979797;
    color: white;
}

section.cust-support .client-data input[type=text], section.cust-support .client-data select, section.cust-support .client-data input[type=email], section.cust-support .client-data input[type=tel] {
    position: absolute;
    top: 25px;
    left: 15px;
    border: none;
    padding: 0;
    width: 280px;
}

section.cust-support .client-data .text.active label, section.cust-support .client-data .text.filled label {
    top: 5px;
    font-size: 14px;
}

section.cust-support .client-data input[type=text]:not(value="") {
    border: solid 1px red;
}

#swatch-modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#swatch-modal-content {
    background-color: #fefefe;
    padding: 5px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#swatch-image {
    width: 100%;
    display: block;
}

#swatch-modal-close:after {
    content: "\00d7";
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 14px;
    color: gray;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    padding: 0 4px;
}

#swatch-modal-close:hover, #swatch-modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Code for DMI */

.swatch:last-child:nth-child(3n+2) {
    margin-left:auto;
    margin-right:auto;
}

.swatch:nth-last-child(2):nth-child(3n+1) {
    margin-left:auto;
}