/****** mobile resets *******/

#site-wrapper {
    max-width: none;
}

#site-wrapper .breadcrumbs {
    max-width: 62.5rem;
    margin: 0.625rem auto;
}

#site-wrapper .section-title {
    display: none;
}

#site-wrapper .section-row {
    max-width: none;
}

#site-wrapper .section-content {
    padding: 0;
    float: none;
}

#site-wrapper .one-column-container,
#site-wrapper .two-column-container {
    max-width: none;
    padding: 0;
}


/****** desktop resets ******/

.two-column-first [role="main"],
.two-column-first [role="region"],
main {
    width: 100%;
    margin: 0;
}

.two-column-first [role="region"]>h1 {
    display: none;
}


/****** BCC content resets ******/

#bcc-content * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    float: none;
    width: auto;
}

#bcc-content .right,
#bcc-content .left {
    float: none !important;
}