@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "_resets.css";
@import "_defaults.css";
@import "_forms.css";
@import "_ds-sticky-nav.css";
@font-face {
    font-family: 'LZB Icons';
    src: url('fonts/lzb-icons.eot?jebkb3');
    src: url('fonts/lzb-icons.eot?jebkb3#iefix') format('embedded-opentype'), url('fonts/lzb-icons.ttf?jebkb3') format('truetype'), url('fonts/lzb-icons.woff?jebkb3') format('woff'), url('fonts/lzb-icons.svg?jebkb3#lzb-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="lzb-icon-"],
[class*=" lzb-icon-"] {
    font-family: 'LZB Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/************ resets ***********/

#site-wrapper {
    max-width: none;
}

#site-wrapper .section-title {
    display: none;
}

#site-wrapper .section-row {
    max-width: none;
}

#site-wrapper .section-content {
    padding: 0;
    float: none;
}

#site-wrapper .one-column-container,
#site-wrapper .two-column-container {
    max-width: none;
    padding: 0;
}

.two-column-first [role="main"],
.two-column-first [role="region"],
main {
    width: 100%;
    margin: 0;
}

.two-column-first [role="region"]>h1 {
    display: none;
}

#npc-content * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    float: none;
    width: auto;
    text-decoration: none;
}


/* breadcrumbs */

#breadcrumbs {
    margin: 0 auto 10px;
    max-width: 980px;
    font-size: 14px;
    color: #868686;
}

body.mobile-site #breadcrumbs {
    margin: 0.625rem auto;
    padding: 0rem 0.625rem;
    max-width: 62.5rem;
    font-size: 0.75rem;
    color: #666;
}

#breadcrumbs ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    line-height: 35px;
}

body.mobile-site #breadcrumbs ul {
    line-height: 1.25rem;
}

#breadcrumbs li+li:before {
    font-family: 'icomoon';
    content: "\e904";
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    padding: 0 8px;
    line-height: 0;
}

body.mobile-site #breadcrumbs li+li:before {
    font-family: 'lzb-icons';
    content: "\e907";
    vertical-align: baseline;
    font-size: 0.625rem;
    padding: 0 0.375rem;
}

#breadcrumbs a {
    color: inherit;
    font-size: inherit;
}

body.mobile-site #breadcrumbs a {
    color: #555;
}


/* defaults */

#npc-content {
    width: 100%;
    font-family: 'lato', 'OpenSans', sans-serif;
    font-size: 20px;
    line-height: 1;
    color: #333;
    overflow: hidden;
}


/* design services nav menu */

#npc-content #ds-nav {
    font-size: .8em;
    background-color: #FBFBFB;
}

#npc-content #ds-nav a {
    font-size: 1em;
    line-height: 40px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    border-top: 1px solid #cbcbcb;
    margin: 0;
}

#npc-content #ds-nav a.active {
    background-color: #595451;
    color: white;
    border: none;
}

#npc-content #ds-nav a.active~a {
    border: none;
    border-bottom: 1px solid #cbcbcb;
}

#bcc-content {
    margin-top: 5px;
}

.mobile-site #bcc-content {
    margin-bottom: 40px;
}

@media only screen and (min-width: 767.1px) {
    #bcc-content {
        margin-top: 35px;
    }
}

#bcc-content .default-text {
    min-width: 290px;
    flex-grow: 1;
}

#bcc-content .hero .text-box {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30em;
    max-width: 100%;
    padding: 0 10px;
}

#bcc-content h1,
#bcc-content h2,
#bcc-content h3,
#bcc-content .form-title {
    font-weight: 300;
    margin: 0;
}

#bcc-content h1 {
    font-size: 2.1em;
    /* padding: 0 10px; */
}

#bcc-content h2 {
    font-size: 1.8em;
    margin-top: 25px;
    text-align: center;
}

#bcc-content h3,
#bcc-content .form-title {
    font-size: 1.1em;
    margin-top: 30px;
    line-height: 1.2;
}

#bcc-content .form-title {
    margin-bottom: .4em;
}

#bcc-content .form-subtitle {
    margin-top: .5em;
}

#bcc-content .form-subheading {
    margin-top: .5em;
    line-height: 1.3;
    font-weight: 300;
    text-align: center;
}

#bcc-content .form-subheading a {
    font-weight: 400;
}

#bcc-content [class^="default-"] .form-title {
    display: block;
    margin-top: 20px;
}

#bcc-content .bolder {
    font-weight: bolder;
}

#bcc-content .hero p {
    margin: 0.5em 0 0.2em;
}

#bcc-content .form-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0;
}

@media only screen and (min-width: 600.1px) {
    #bcc-content h1 {
        font-size: 2.8em;
    }
    #bcc-content h2 {
        font-size: 2.1em;
        margin-top: 35px;
    }
    #bcc-content h3,
    #bcc-content .form-title {
        font-size: 1.3em;
        margin-top: 50px;
    }
    #bcc-content [class^="default-"] .form-title {
        margin-top: 30px;
    }
    #bcc-content .form-progress {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 35px auto 0;
    }
}

@media only screen and (min-width: 850px) {
    #npc-content #ds-nav {
        display: flex;
        background-color: #595451;
        font-size: .9em;
    }
    #npc-content #ds-nav>div {
        width: 100%;
        max-width: 1000px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    #npc-content #ds-nav a,
    #npc-content #ds-nav a.active~a {
        line-height: 60px;
        color: white;
        position: relative;
        border-bottom: none;
    }
    #npc-content #ds-nav a:after {
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        height: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        transition: height 0.2s;
    }
    #npc-content #ds-nav a.active:after,
    #npc-content #ds-nav a:hover:after {
        height: 7px;
    }
    #npc-content #ds-nav a {
        border: none;
    }
}

@media only screen and (min-width: 980px) {
    #npc-content #ds-nav {
        font-size: 1em;
    }
}

#bcc-content .container-980 {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

#bcc-content .container-840 {
    max-width: 870px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: .9em;
}

#bcc-content .nav-circle {
    display: block;
    border: 2px solid #b7b7b7;
    border-radius: 9px;
    height: 16px;
    width: 16px;
    position: relative;
}

#bcc-content .nav-circle.current {
    border-color: #807069;
}

#bcc-content .nav-circle.done {
    border-color: #807069;
    background-color: #807069;
    cursor: pointer;
}

#bcc-content .nav-circle.current:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #807069;
}

#bcc-content .form-progress .line {
    width: 82px;
    height: 0;
    border-top: 2px solid #b7b7b7;
}

#bcc-content .circle-checkbox,
#bcc-content .square-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

#bcc-content .circle-checkbox>[type="checkbox"],
#bcc-content .square-checkbox>[type="checkbox"] {
    display: none
}

#bcc-content .circle-checkbox label,
#bcc-content .square-checkbox label {
    display: block;
    margin: 30px 15px 0;
    padding: 10px;
    border: dashed 1px #b7b7b7;
}

#bcc-content .circle-checkbox label {
    height: 150px;
    width: 150px;
    line-height: 130px;
    text-align: center;
    border-radius: 75px;
}

#bcc-content .square-checkbox label {
    width: 260px;
    height: 260px;
    background-clip: content-box;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#bcc-content .circle-checkbox label:hover,
#bcc-content .square-checkbox label:hover {
    border-color: #807069;
}

#bcc-content .circle-checkbox input:checked+label,
#bcc-content .square-checkbox input:checked+label {
    border: solid 2px #807069;
    padding: 9px;
}

#bcc-content .form-button {
    display: block;
    width: 200px;
    line-height: 60px;
    margin: 40px auto 0;
    background-color: #807069;
    color: white;
    text-align: center;
    transition: all .2s ease-out;
    cursor: pointer;
}


/* #bcc-content .form-button:hover {
    background-color: #78a59f;
} */

#bcc-content .form-button:after {
    content: "\00A0\e904";
    font-family: 'LZB Icons';
    font-size: .8em;
    line-height: 0;
}

#bcc-content .form-button.submitted {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #807069;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s cubic-bezier(0.5, 0.18, 0.5, 0.82) infinite;
}

#bcc-content .form-button.submitted:hover {
    background-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 500.1px) {
    #bcc-content .form-button {
        margin-top: 50px;
    }
}

#bcc-content .thank-you {
    position: relative;
}

#bcc-content .thank-you .text-box {
    position: absolute;
    left: 50%;
    font-size: .9em;
    padding: 20px 15px;
    text-align: center;
    max-width: 100%;
    top: 0;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .9);
}

#bcc-content .thank-you h1 {
    font-size: 3em;
    padding: 0;
}

#bcc-content .thank-you h1 span {
    display: block;
    font-size: .5em;
    margin: .5em auto;
}

#bcc-content .thank-you p {
    max-width: 25.3em;
    margin: .5em auto;
}

@media only screen and (min-width: 500.1px) {
    #bcc-content .thank-you .text-box {
        top: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.2;
    }
}

@media only screen and (min-width: 850.1px) {
    #bcc-content .thank-you h1 {
        font-size: 4em;
        padding: 0;
    }
    #bcc-content .thank-you h1 span {
        font-size: .4em;
    }
}

@media only screen and (min-width: 750.1px) {
    #bcc-content .thank-you .text-box {
        width: 64%;
        height: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}